---
layout: default
title: Home

namespace: home
permalink: /
---
<div class="page">

  <header>
    <h1 class="landing-title">
      {% if site.lang == "en" %}
      Moroccan Olympiads in Informatics 2023
      {% elsif site.lang == "fr" %}
      Olympiades Marocaines d'Informatique 2023
      {% elsif site.lang == "ar" %}
      الأولــمبـيـاد المـغـربـيـة في المـعـلومـيـات 2023
      {% endif %}
    </h1>
  </header>

  <div class="text-center">
    <span class="post-date">Road to <a target="_blank" href="https://ioi2023.hu/">Hungary</a></span>
  </div>

  <div>

    <!-- Show all blog posts -->
    <div class="posts">
      {% for post in site.posts %}
      <article class="post">
        <h1 class="post-title">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

        {% if post.truncated_preview == true or site.blog.truncated_preview and post.truncated_preview != false %}
        {{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
        {% else %}
        {{ post.content }}
        {% endif %}
      </article>
      {% endfor %}
    </div>

  </div>
</div>
