---
layout: default
title: Home

namespace: home
permalink: /
---
<div class="page">
  
  <header>
    <h1 class="landing-title">
      {% if site.lang == "en" %}
      Moroccan Olympiads in Informatics 2022
      {% elsif site.lang == "fr" %}
      Olympiades Marocaines d'Informatique 2022
      {% elsif site.lang == "ar" %}
      الأولــمبـيـاد  المـغـربـيـة  في  المـعـلومـيـات  2022
      {% endif %}
    </h1>
  </header>
  
  <div class="text-center">
    <span class="post-date">Road to <a target="_blank" href="https://ioi2022.id">Indonesia</a></span>
  </div>

  <div>

  {% include schedule-table.md %}

</div>
</div>

</div>
