<!DOCTYPE html>
<html lang="en" {% if site.lang == "ar" %} dir="rtl" {% endif %} >

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
        <li class="logo"><a class="hvr-ripple-out" href="{{ site.baseurl }}/">MOI</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog">{% t titles.news %}</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/schedule">{% t titles.schedule %}</a></li>      
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/train">{% t titles.train %}</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/faq">FAQ</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about">{% t titles.about %}</a></li>    
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>
      <footer class="footer">
        <small>
          {% for lang in site.languages %}
            <a href="{% tl {{ page.namespace }} {{ lang }} %}">| {{lang}} </a>
          {% endfor %} |
        </small>
  
        <br>
        <br>
        <div class="ftr-links">
          <a target="_blank" href="https://www.facebook.com/moroccoioi"><i class="fab fa-facebook"></i></a>
          <a target="_blank" href="mailto:admin@arena.moi"><i class="fa fa-at"></i></a>
          <a target="_blank" href="https://discord.gg/SghCZEnsjP"><i class="fab fa-discord"></i></a>
          <a target="_blank" href="https://linkedin.com/company/moroccoioi"><i class="fab fa-linkedin"></i></a>
        </div>
      </footer>
    </div>

  </body>
</html>
